.containercode pre {
  font-family: monospace;
  background-color: #fff;
  width: 90em;
  margin: 1em auto;
  padding: 0.5em;
  border-radius: .25em;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.45);
  line-height: 0;
  counter-reset: line;
}
.containercode pre span {
  display: block;
  line-height: 1.5rem;
}
.containercode pre span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
}















.bg-primaryContact{
  background-color: #badce0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-primary1{
  background-color: 
#e6f271
;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-primary2 {
  background: url("../img/sectBG(1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-primary3 {
  background: url("../img/sectBG(2).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-primary4 {
  background: url("../img/sectBG(3).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-primary5 {
  background: url("../img/sectBG(4).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-primary6 {
  background: url("../img/sectBG(8).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-primary7 {
  background: url("../img/sectBG(6).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-primary8 {
  background: url("../img/sectBG(7).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.teamImg{
	width: 200px;
}

.MessageHeaders,
.StatusCodes{
	padding-top: 50px;
	padding-bottom: 50px;
}

.MessageHeaders ol li ul{
	line-height: 30px;
}

.indentThis{
	text-indent: 35px;
}

.example p{
	line-height: 0px;
	font-size: 15px;
	padding: 2px;
}

.collapse,
.code{
	padding:0 10px;
}

h3,
.lead
code{
  font-size: 15px;
  padding: 5;
  margin: 0;
}

.syntax p{
  font-size: 15px;
  line-height: 0;
  padding-left: 20px;
  font-family: monospace, monospace;
}

.syntax{
  background-color: #e5e5e5;
  padding: 20px;
}

.definition{
  background-color: #f4f7af;
}

.collapseBG{
  padding: 15px 100px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.sampleCode{
  background-color: #e5e5e5;
  padding: 20px;
}
.sampleCode p{
  font-size: 15px;
  line-height: 0;
  font-family: monospace, monospace;
}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 50px; 
    right: 50px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgba(0, 0, 0, 0.66); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50px; 
}

#myBtn:hover {
    background-color: rgba(0, 91, 133, 0.76);
}
.skill{
  color: #3d5496 !important;
  margin-top: -20px;
}