body{
	height: 100%;
	margin-top: 50px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}


/*STYLES FOR FONTS*/
body{
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
	text-transform: uppercase;
}
nav ul{
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
	text-transform: uppercase;
}

/*STYLES FOR CONTENT*/

/*-----FOR THE HEADER-----*/

.backgroundHeader {
    background-image: url("../images/Header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.sect{
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
}

.subSection{ 
  height:100%;
  background-color: #232634;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.subSection1{ 
  height:100%;
  background-color: #232634;
  color:#A8FFF2;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
  
.about{
  float: left;
  width:50%;
}

.about img{
  width: 40%;
  padding: 0 30% 0 30%;
  margin-top: 5%;
}

.about h1{
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  color: #000000;
}

.about p{
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #000000;
}

.PrelimSectOne{
  background-image: url("../images/PrelimSect1.jpg");
}
.PrelimSectTwo{
  background-image: url("../images/PrelimSect2.jpg");
}
.sect h1{
	font-size: 50px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
}
.LessonProper h3{
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-style: italic;
}


