.LessonProper h1{
	font-size: 35px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #317daf;
}

.LessonProper h3{
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-style: italic;
}