body{
	height: 100%;
	margin-top: 50px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}


/*STYLES FOR FONTS*/
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-transform: uppercase;
}
nav ul{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-transform: uppercase;
}

/*STYLES FOR CONTENT*/

.sect{
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
}
.subSection{ 
  height:100%;
  background-color: #262626;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.subSection1{ 
  height:100%;
  background-image: url("../images/Prelim_subSection.jpg");
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
#slider { 
	overflow: hidden; 
	margin-top: -150px;
}
#slider figure img { 
	width: 20%; 
	float: left; 
}
#slider figure { 
  position: relative;
  width: 500%;
  margin: auto;
  animation: 25s slidy infinite; 
}
#About h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	color: #ffffff;
}
.box{
    width: 800px;
    text-align: center;
    margin: auto;     
}
.image{
    width:250px;
    height:250px;
    z-index: -1;
    transition: 0.1s ease-in-out;  
}

.image:hover{
    transform: scale(1.2);
}
.container{
  max-width: 230px;
  height:250px;
  position: relative;
  width: 900px;
  margin: 50px;  
  display:inline-block;
} 
.image_aboutUs{
    width:250px;
    height: 250px;
    position: absolute;
    left: 0;
    top:0;
    border-radius: 50px;
    transition: 0.1s ease-in-out;
}

.image_aboutUs:hover{
    transform: scale(1.2);
}

.container .text{
  position: absolute;
  top: 70%;
  left: 15%;
}
.text{
  color: #ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
}
.PrelimSectOne{
  background-image: url("../images/PrelimSect1.jpg");
}
.PrelimSectTwo{
  background-image: url("../images/PrelimSect2.jpg");
}
.sect h1{
	font-size: 50px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
}
.LessonProper h3{
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-style: italic;
}
nav li a,
.dropbtn {
    font-size: 20px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover,
.dropdown:hover .dropbtn {
    background-color: #555555;
}
nav li.dropdown {
    display: inline-block;
}
nav .dropdown-content {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
nav .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
nav .dropdown:hover .dropdown-content {
    display: block;
}
nav ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}  
.nav li {
    font-size: 1.1em;
    float: left;
} 
.nav.nav-right li {
    float: left;
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li a:hover {
    background-color: #555555;
} 
nav ul.nav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
}



