body{
	height: 100%;
	margin-top: 50px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
  background-color: #f2f2f2;
}


/*STYLES FOR FONTS*/
body{
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}
nav ul{
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
	text-transform: uppercase;
}

/*STYLES FOR CONTENT*/

/*-----FOR THE HEADER-----*/

.backgroundHeader {
    background-image: url("../images/Header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.sect{
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
}

.subSection{ 
  height:auto;
  background-color: #232634;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#AboutSection{ 
  height:100%;
  background-color: #f2f2f2;
  color:#A8FFF2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#AboutSection h1{
  margin-top: 0;
  padding-top: 3%;
  text-align: center;
  color: #000000;
}

#AboutSection h1:hover{
  color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
  
.about{
  float: left;
  width:50%;
  background-color: #f2f2f2;
}

.about img{
  width: 50%;
  padding: 0 25% 0 25%;
  margin-bottom: 3%;
}

.about h1{
  text-align: center;
  font-size: 20px;
  color: #000000;
}

.about figcaption{
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about p{
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  color: #000000;
}

.Sean{
  clear: both;
  width:100%;
  background-color: #f2f2f2;
}

.Sean figure{
  width: 47%;
  padding: 0 25% 0 25%;
  margin-bottom: 3%;
}

.Sean img{
  width: 42.5%;
  margin-bottom: 3%;
}

.PrelimSectOne{
  background-image: url("../images/PrelimSect1.jpg");
}
.PrelimSectTwo{
  background-image: url("../images/PrelimSect2.jpg");
}
.sect h1{
	font-size: 50px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
}


footer{
  background-color: black;
  height: 100%;
}

footer p{
  text-align: center;
  color: #ffffff;
}

/*STYLES FOR THE TABLE */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}